/* =============
    Navigation
============= */
#navigation {
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". navigation .";

    >div {
        grid-area: navigation;
    }

    @include sm {
        grid-template-ares: auto 576px auto;
    }

    @include md {
        grid-template-ares: auto 768px auto;
    }

    @include lg {
        grid-template-ares: auto 1024px auto;
    }

    @include xl {
        grid-template-ares: auto 1200px auto;
    }
}