/* =============
    section-3
============= */
#section-3 {

    ul {
        li {
            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". section-3-content .";

            div {
                grid-area: section-3-content;
            }
        }

    }
    background-color: #94C0CB;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;



}