/* =============
    section-5
============= */
#section-5 {
    ul {
        li {
            img {
                width: 100%;
            }

        }

        section {
            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". section-5-content .";

            div {
                grid-area: section-5-content;
            }
        }

    }

    @include md {
        grid-template-ares: auto 768px auto;
    }

    @include lg {
        grid-template-ares: auto 1024px auto;
    }
}