/* =============
    section-4
============= */
#section-4 {
    ul {
        display: grid;

        li {
            img {
                width: 100%;
            }
        }

        #section-4-3 {
            display: none;
        }
    }

    @include md {
        grid-template-ares: auto 768px auto;
    }

    @include lg {
        grid-template-ares: auto 1024px auto;
    }
}
